@import "tailwindcss";
@import "tw-animate-css";

html {
  scroll-behavior: smooth;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-migae: var(--font-migae);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #FFF6E8;
  --foreground: #18181B;
  --card: #FFF6E8;
  --card-foreground: #18181B;
  --popover: #FFF6E8;
  --popover-foreground: #18181B;
  --primary: #fca311;
  --primary-foreground: #18181B;
  --secondary: #18181B;
  --secondary-foreground: #FFF6E8;
  --muted: #E0E0E0;
  --muted-foreground: #888888;
  --accent: #fca311;
  --accent-foreground: #18181B;
  --destructive: #ff0000;
  --border: #D0D0D0;
  --input: #D0D0D0;
  --ring: #fca311;
}

.dark {
  --radius: 0.625rem;
  --background: #18181B;
  --foreground: #FFF6E8;
  --card: #18181B;
  --card-foreground: #FFF6E8;
  --popover: #18181B;
  --popover-foreground: #FFF6E8;
  --primary: #fca311;
  --primary-foreground: #18181B;
  --secondary: #FFF6E8;
  --secondary-foreground: #18181B;
  --muted: #282828;
  --muted-foreground: #888888;
  --accent: #fca311;
  --accent-foreground: #18181B;
  --destructive: #ff0000;
  --border: #404040;
  --input: #404040;
  --ring: #fca311;
}